body {
  background-color: #232326;
}
.loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #232326;
  display: flex;
  align-items: center;
}
.loading__bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: all;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  background: url("../img/Bgx2.png") center no-repeat;
  background-size: 100%;
}
.loading__img {
  width: 100%;
}
.loading__logo {
  max-width: 690px;
  left: 50%;
  margin: 0 0 0 -345px;
  z-index: 1;
  transition: all 1.5s ease-in-out;
  position: absolute;
}
@media (max-width: 760px) {
  .loading__logo img {
    width: 300px;
  }
}
.row {
  align-self: flex-end;
  height: 150px;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
}
.desktop__menu {
  background: #c6c6ce;
  opacity: 0;
  border-radius: 10px;
  height: 100%;
  width: 900px;
  transition: opacity 1s linear;
}
