body {
  background-color: #232326;
}
.loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #232326;
  display: flex;
  align-items: center;
}
.loading__bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: all;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  background: url("../img/Bgx2.png") center no-repeat;
  background-size: 100%;
}
.loading__img {
  width: 100%;
}
.loading__logo {
  max-width: 690px;
  left: 50%;
  margin: 0 0 0 -345px;
  transition: all 1.5s ease-in-out;
  position: absolute;
}
@media (max-width: 760px) {
  .loading__logo img {
    width: 300px;
  }
}
.row {
  align-self: flex-end;
  /* height: 150px; */
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
}
.desktop__menu {
  background: #c6c6ce36;
  opacity: 0;
  border-radius: 10px;
  height: 100%;
  width: 900px;
  transition: opacity 1s linear;
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  z-index: 999;
}
.desktop__icon {
  width: 70px;
  height: 70px;
  background: #2656d1;
  border-radius: 20px;
  display: flex;
  transition: transform 0.1s ease-in;
}
/* .desktop__icon img {
  width: 100%;
} */
.desktop__icon:hover {
  transform: scale(1.2);
}
/* .desktop__icon:hover::before {
  content: "Иконка";
  color: white;
  width: 60px;
  height: 20px;
  display: inline-block;
  align-self: flex-end;
} */
.modal {
  position: absolute;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  height: 80vh;
  top: 2%;
  left: 2%;
  border-radius: 5px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.301);
  display: none;
}
.modal__active {
  display: flex;
}
.modal__header {
  height: 30px;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-self: flex-start;
  background: rgb(17, 77, 126);
  border: solid 1px black;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  box-shadow: inset 3px 3px 10px rgba(252, 250, 250, 0.349);
}
.modal__header__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.modal__title {
  display: inline-block;
  color: white;
  font-size: 20px;
}
.btn__close {
  background: rgb(167, 48, 48);
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 25%;
}
.btn__close img {
  width: 100%;
}
.modal__container {
  width: 95%;
  height: 95%;
  background: rgb(224, 220, 220);
  box-shadow: inset 5px 5px 5px black;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}
.table__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}
.tittle__moadal {
  font-size: 64px;
  line-height: 83px;
  color: #010b23;
  margin: 0;
}
.modal__search {
  border-radius: 15px;
  height: 30px;
  padding-left: 10px;
}
.table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 20px;
}
.table__tr {
  border: 1px solid black;
  height: 30px;
}
.table__th {
  border: 1px solid black;
  font-size: 18px;
  line-height: 23px;
}
.table__btn {
  background: #2656d1;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  margin-left: 70px;
  color: white;
  font-size: 15px;
  line-height: 19px;
}
/* .sort__btn {
  width: 10px;
} */
